<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /pendaftaran-sekolah/
    
    # Jika request adalah file atau direktori yang ada, abaikan
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Redirect semua permintaan lainnya ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
