
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    overflow-x: hidden;
    background-color: whitesmoke;
  }
  .container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  nav {
    height: 100vh;
    width: 200px;
    background-color: rgb(72, 72, 72);
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3);
  }
  
  .logo {
    padding: 15px 10px 15px 10px;
    border-bottom: 0.5px solid rgb(154, 154, 154);
    padding-left: 30px;
    color: rgb(154, 154, 154);
    font-weight: lighter;
  }
  
  ul li a {
    display: block;
    text-decoration: none;
    padding: 15px 10px 15px 30px;
    color: rgb(154, 154, 154);
    transition: all ease-in 0.2s;
    font-size: 14px;
  }
  
  li a:hover {
    background-color: rgb(117, 117, 214);
    color: whitesmoke;
    transition: all ease-in 0.2s;
  }
  
  .main-content {
    width: 100vw;
    z-index: -1;
  }
  
  .judul {
    width: calc(100% -30px);
    height: 52px;
    background-color: rgb(117, 117, 214);
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .judul-page {
    padding: 12px 0px 12px 0px;
    border-bottom: 2px solid rgb(117, 117, 214);
    padding-left: 20px;
    color: rgb(154, 154, 154);
    font-weight: lighter;
    margin: 0 0 15px 20px;
    color: black;
  }
  
  .content {
    margin: 0 2px 0 30px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  
  th {
    background-color: #d14146;
    color: white;
  }
  
  .action {
    text-align: center;
  }
  
  .action button {
    background-color: #f05050;
    color: white;
    padding: 8px 12px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .action button:hover {
    background-color: #d73d43;
  }
  
  .action.delete {
    background-color: #df363c;
  }
  
  .action.delete:hover {
    background-color: #e73c41;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination button {
    background-color: #f05050;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #cc4444;
}
  
  .search-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .search-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-new {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .add-new button {
    background-color: #e0464b;
    color: white;
    padding: 8px 12px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .add-new button:hover {
    background-color: #ee4046;
  }  